.searchResult{
    color: rgba(0, 0, 0, 0.8);
    display: flex;
    margin: 20px 10px 10px 0;
    box-shadow: 10px 10px 8px -9px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    translate: opacity 100ms ease-in;
}
.searchResult:hover{
    opacity: 0.7;
}

.searchResult__img{
    width: 300px;
    height: 220px;
    border-radius: 25px 0 0 25px ;
}

.searchResult__info{
    flex: 1;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.searchResult__info__top{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.searchResult__info__desc__button{
    margin: 10px 0 !important;
}
.searchResult__info__desc__button:hover{
    background-color: #ff7779 !important;
    color: white !important;
}

.searchResult__info__footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.searchResult__info__rating{
    display: flex;
    align-items: center;
    font-size: 16px;
}
.searResult__ratingIcon{
    color: red;
    font-size: 16px;
}

.searchResult__info__pricing{
    font-size: 20px;
    text-align: end;
}
.searchResult__info__total{
    font-size:  14px;
    text-decoration: underline;
}

@media(max-width: 700px){
    .searchResult{
        flex-direction: column;
        flex: 1;
    }
}
